<%- include('../partials/header') %>
<div class="collection-title">My Favorites</div>
<div class="container text-center">
    <% if (ideas.length === 0) { %>
        <p>Your favorite list is waiting to be filled with the ideas you cherish ❤️<br> 
            Let's start adding them now by browsing <a href="/ideas/all" style="color:rgb(184, 0, 0)">All Ideas</a>!</p>
    <% } else { %>
    <div class="row row-cols-4">
        <% ideas.forEach(function(idea) { %>
            <div class="col-4">
                <div class="row">
                    <img class="row-1" src="<%= idea.image.replace("/upload/","/upload/c_fill,h_600,w_500/") %>" alt="picture">
                    <a class="row-2" href="/ideas/<%= idea._id %>"><%= idea.title %></a>
                    <div class="row-3-style">
                        <form action="/favorites/remove/<%= idea._id %>" method="post">
                            <button class="btn btn-dark btn-sm" type="submit">Remove</button>
                        </form>
                    </div>
                </div>  
            </div>
        <% }); %>
    </div>
    <% } %>
</div>
<%- include('../partials/footer') %>