<%- include('../partials/header') %>
<div class="collection-title">My Ideas</div>
<div class="container text-center">
    <% if (!user) { %>
        <h3>Please log in and start adding your ideas ❤️</h3> 
    <% } else { %>
        <div class="row row-cols-4">
            <% let hasIdeas = false; %>
            <% ideas.forEach(function(idea) { %>
                <% if (user?._id.equals(idea.userIdea)) { %>
                    <% hasIdeas = true; %>
                    <div class="col-4">
                        <div class="row">
                            <img class="row-1" src="<%= idea.image.replace("/upload/","/upload/c_fill,h_600,w_500/") %>" alt="picture">
                            <div class="row-2"><%= idea.title %></div>
                            <div class="row-3-style">
                                <div class="row-button">
                                    <button class="btn btn-dark btn-sm"><a href="/ideas/<%= idea._id %>">View Idea</a></button>
                                    <form action="/ideas/<%= idea._id %>?_method=DELETE" method="post">
                                        <button class="btn btn-dark btn-sm" type="submit">Delete</button>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
        <% if (!hasIdeas) { %>
            <p>No ideas created yet? Click <a href="/ideas/all" style="color:rgb(184, 0, 0)">here</a> to create one and share with others!</p>
        <% } %>
    <% } %> 
</div>
<%- include('../partials/footer') %>