<%- include('../partials/header') %>
<section id="show-page">
    <div class="idea">
        <!-- <div class="image"></div> -->
        <div class="title"><%= idea.title %></div>
        <div class="content"><%= idea.content %></div>
    </div>

    <% if(user) { %>
        <form action="/ideas/<%= idea._id %>" method="post">
            <button type="submit">Add to Favorites</button>
        </form>
        <h4>Comments</h4>
        <form id="add-comment-form"
        action="/ideas/<%= idea._id %>/comments"
        method="post">
        <label>Comment:</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Add Comment">
        </form>
        <% if (idea.comments.length) { %>
            <% idea.comments.forEach(function(comment) { %>
                <img alt="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer" ><%= comment.userName %>
                <%= comment.createdAt.toLocaleDateString() %>
                <%= comment.content %>
                <% console.log('User ID:', user?._id, 'Comment User:', comment.user); %>
                <% if (user?._id.equals(comment.user)) { %>
                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
            <% }); %>
        <% } %>
    <% } %>

</section>
<%- include('../partials/footer') %>